{% extends 'base.html.twig' %}

{% block title %}Liste{% endblock %}

{% block body %}

<div>
    <h1>Liste des produits</h1>


    <ul>
        {% for produit in produitListe %}
            <li class = "produit">
                <img class = "img_invent" src="/{{ produit.image }}" alt="{{ produit.nom }}">

                <div class = "info_produit">
                    <p class ="nom_produit"><span>{{ produit.nom }}</span> (Id : {{ produit.id }})</p>
                    <p>Description : {{ produit.description }}</p>
                    <div class="info_bot">
                        <p>Stock: {{ produit.stock }}</p>
                        <a class="button" href="{{path("produit", {id : produit.id}) }}">voir detail</a>
                    </div>
                </div>
            </li> 



        {% endfor %}    
    </ul>


{% endblock %}