{% extends 'baseAdmin.html.twig' %}

{% block title %}Inventaire{% endblock %}

{% block body %}

<div>
    <h1>Inventaire</h1>

    <ul>
        {% for comm in commListe %}
            <li>
                <div>
                    <p>{{ comm.titre }} (Id : {{ comm.id }})</p>
                    <p>Description : {{ comm.contenu }}</p> 
                {# <a href="{{path("comm", {id : comm.id}) }}">voir detail {{ comm.nom}}</a> #}
                </div>
            </li> 



        {% endfor %}    
    </ul>


{% endblock %}