{% extends 'baseAdmin.html.twig' %}

{% block title %}Inventaire{% endblock %}

{% block body %}

<div>
    <h1>Inventaire</h1>

    <ul>
        {% for produit in produitListe %}
            <li class = "produit">
                <img class = "img_invent" src="/{{ produit.image }}" alt="{{ produit.nom }}">

                <div class = "info_produit">
                    <p><span class ="nom_produit">{{ produit.nom }}</span> (Id : {{ produit.id }})</p>
                    <p>Description : {{ produit.description }}</p> 
                    <p>Stock: {{ produit.stock }}</p>
                    <div class="card_modif">

                    <a class="button modif" href="{{path("editProduit", {id : produit.id}) }}">Modifier</a>
                    <a class="button delete" href="{{path("deleteProduit", {id : produit.id}) }}">Supprimer</a>
                    </div>
                </div>
            </li> 



        {% endfor %}    
    </ul>


{% endblock %}